@font-face {
  font-family:"pt sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/pt-sans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family:"pt sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/pt-sans-700.woff2) format("woff2");
  font-display: swap;
}

*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "pt sans",sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0  15px 0  rgba(0, 0, 0, 0.20);
}

.content {
  flex-grow: 1;
}

.button {
  font-size: 20px;
  font-style: normal;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px 4px 4px 4px;
}

.header-button {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px;
  min-width: 160px;
  margin-left: 20px;
}

.button-brown-color:hover {
  background-color: #615048;
}

.button-brown-color:focus {
  outline: 2px solid #615048;
}

.button-brown-color:active {
  background-color: #756157;
  color: rgba(225, 225, 225, 0.30)
}

.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
  align-items: center;
}

.navigation-list {
  margin: 0 0 0 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navigation-list-main {
  margin-left: 170px;
}

.navigation-item {
  padding: 20px 16px;
  position: relative;
}

.navigation-item-page::after {
  content: "";
  display: block;
  width: 68px;
  height: 2px;
  background-color: #756257;
  position: absolute;
  bottom: 0;
}

.navigation-user {
  margin-left: auto;
  justify-content: center;
}

.navigation-link-user {
  display: block;
  width: 20px;
  height: 20px;
}

.navigation-user-item {
  padding: 22px 12px;
}

.navigation-logo {
  position: absolute;
  z-index: 1;
  top: 0;
}

.navigation-logo:hover {
  opacity: 75%;
}

.navigation-logo:focus {
border: 2px solid #756257;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link:hover {
  color: rgba(0, 0, 0, 0.30);
}

.navigation-link:focus {
  border: 2px solid #756257;
}

.navigation-link:active {
  color: #000;
}

.main-container {
  flex-grow: 1;
}

.hero-screen {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 51px 70px 82px;
  margin: 0;
  position: relative;
}

.hero-screen::after {
  content: url("../images/divider.svg");
  width: 1200px;
  height: 57px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.advantages-causes {
  padding: 70px 70px 90px;
  margin: 0;
}

.title-causes {
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.causes {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}

.advantages-photo {
  object-fit: cover;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  text-align: center;
  background-color: #82b3d3;
}

.advantages-nested:nth-child(odd) {
  background-color: #f0f6fa;
}

.advantages-nested:nth-child(even) {
  background-color: #e6f0f6;
}

.advantages-item-page {
  display: flex;
}

.advantages-page {
  width: 400px;
  padding: 102px 85px;
}

.advantages-list-nested {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-nested {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-title-nested {
  color: #000000;
  margin: 0;
}

.advantages-title-nested::after {
  content:"";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  display: block;
  margin: 30px auto;
}

.advantages-title-item:after {
  content:"";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.30);
  display: block;
  margin: 30px auto;
}

.title-item {
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-item {
  color: #ffffff;
  margin: 0;
}

.advantages-description-nested {
  margin: 0;
}

.advantages-description-item {
  color: #ffffff;
  margin: 0;
}

.tagline-page {
  padding: 64px 70px;
}

.title-tagline {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.tagline {
  font-size: 22px;
  text-align: center;
  line-height: 26px;
  color: #333333;
  margin: 20px 0 0;
}

.offers-item:nth-child(odd) {
  background-color: rgba(131,179,211,0.12);
}

.offers {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.offers-item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.offers-title {
  display: flex;
  flex-direction: column;
  color: #000000;
  margin: 0 0 30px;
}

.offers-title-housing::before {
  content:url("../images/icons-haus.svg");
  margin-bottom: 30px;

}

.offers-title-food::before {
  content:url("../images/icons-food.svg");
  margin-bottom: 30px;
}

.offers-title-souvenirs::before {
  content: url("../images/icons-box.svg");
  margin-bottom: 30px;
}

.offers-description {
  text-align: center;
  color: #333333;
  margin: 0;
}

.search {
text-align: center;
padding: 96px 70px;
}

.search-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 20px;
}

.search-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin: 0 0 54px;
}

.button-all-search {
  display: inline-block;
  background-color: #756157;
  padding: 8px 50px;
}

.subscription {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscription-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 20px;
}

.subscription-description {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin: 0 0 54px;
}

.subscription-theme-custom {
  background-color: #82b3d3;
  color: #ffffff;
  background-image: url("../images/subscription-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 96px 70px 104px;
}

.subscription-title-custom {
  color: #ffffff;
}

.subscription-description-custom {
  color: #ffffff;
}

.appointment-form {
  display: flex;
  justify-content: center;
}

.field {
  margin: 0;
  padding: 14px 20px;
  font-family: "pt sans",sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  background-color: #f2f2f2;
  min-width: 452px;
  border: 0;
  border-radius: 4px 0 0 4px;

}

.button-field {
  font-family: "pt sans",sans-serif;
  margin: 0;
  min-width: 232px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.button-blue-color:hover {
  background-color: #68a2ca;
}

.button-blue-color:focus {
  border: 2px solid #68a2ca;
}

.button-blue-color:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.page-footer {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 331px 1fr;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 70px 30px;
  align-items: center;
  gap: 195px;
}

.footer-contacts-logo {
  background-image: url("../images/html-academy.svg");
  width: 115px;
  height: 33px;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-network {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

.social-network:hover path {
  fill: #68a2ca;
}

.social-network:focus {
  outline: 2px solid #68a2ca;
}

.social-network:active path {
  fill: rgba(104, 162, 202, 0.30)
}

.footer-contacts {
  display: flex;
  width: 331px;
  align-items: center;
}

.contacts-phone{
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-inner{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.catalog-products{
  background-color: #82b3d3;
  background-image: url("../images/filter-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  color: #ffffff;
  padding: 35px 70px 70px;
  margin: 0;
}

.catalog-title{
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0 0 8px;
}

.breadcrumbs{
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0 0 40px;
  align-items:center;
  justify-content:flex-start;
}

.breadcrumbs-link-start{
  margin: 0 10px 0 0;
}

.breadcrumbs-item{
  align-items: center;
}

.breadcrumbs-item:not(:first-child)::before{
  content:"";
  display: inline-block;
  width: 8px;
  height: 10px;
  margin: auto 10px auto 0;
  background-image:url("../images/icons-arrow.svg");
  background-repeat:no-repeat;
}

.breadcrumbs-link{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-left: -4px;

}

.catalog-filter{
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group{
  border:0;
  margin: 0 70px 0 0;
  padding: 0;
}

.catalog-filter-title{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 0 32px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item{
  margin: 0 0 16px;
  position: relative;
}

.option{
  display: block;
  margin: 0 0 16px 36px;
}

.control-input{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.control-option{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color:#ffffff;
  position: absolute;
  left: 0;
}


.control-input:checked + .control-option{
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
}

.control-option-radio{
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.control-input:checked + .control-option-radio{
  background-image:url("../images/tick-radio.svg");
  background-repeat:no-repeat;
}

.filter-price{
  display: flex;
}

.control-price{
  margin: 0;
  padding: 12px 20px;
  width: 143px;
  font: inherit;
  font-weight: 700;
  color:#000000;
}

.button-filter {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button-apply{
  font-family: "pt sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border:0;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.button-reset{
  font-family: "pt sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  background: none;
  padding: 8px 50px;
}

.select-group{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  padding: 50px 70px 40px;
}

.selection-title{
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.select-control{
  font:inherit;
  color: #333333;
  margin: 0;
  padding: 14px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #f5f5f5;
  min-width: 292px;
  border-radius:4px;
}

.button-light{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 12px 14px;
  min-width: 48px;
  min-height: 48px;
  background-color:#ffffff;
  border:2px solid #f5f5f5;
  margin-left: 8px;
}

.button-grid{
  border:2px solid #000000;
  margin-left: 70px;
}

.catalog-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0 70px 80px;
  list-style-type: none;
  position: relative;
}

.catalog-card-item{
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows:212px 1fr;
  gap: 16px 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  width: 340px;
}

.catalog-card-link{
  grid-column: 1 / -1;
  object-fit: cover;
}

.catalog-card-title{
  grid-column: 1 / -1;
  text-decoration: none;
}

.card-title{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  color:#000000
}

.catalog-card-price{
  text-align: right;
}

.catalog-card-button{
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 140px;
  padding: 8px;
  text-align:center;
  justify-items: center;
}

.catalog-button{
  background-color:#756157;
  color: #ffffff;
  border-radius:4px;
  text-decoration: none;
}

.card-button{
  background-color:#7db54f;
  color: #ffffff;
  border-radius:4px;
  text-decoration: none;
}

.hotel-rating{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color:#f2f2f2;
  padding: 9px 21px 8px 21px;
  border-radius: 4px;
}

.star{
  height: 37px;
  width: 140px;
  padding: 10px 0;
}

.star::before{
  content: "";
  display: block;
  height: 17px;
  background-image:url("../images/icons-star.svg");
  background-repeat: space no-repeat;
  background-size: contain;
}

.star-4::before{
  width: 85px;
}

.star-3::before{
  width: 65px;
}

.star-2::before{
  width: 40px;
}

.catalog-list::after {
  position: absolute;
  content: "";
  width: 1060px;
  height: 1px;
  background-color: #e6e6e6;
  bottom: 40px;
  right: 70px;
}

.pagination-item{
  background-color:#82b3d3;
  border-radius: 4px;
  min-width: 60px;
  height: 60px;
  margin-right: 8px;
  text-align: center;
  padding: 12px 10px;
}

.pagination-title{
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px 60px;
  list-style-type: none;
  margin: 0;
}

.pagination-link{
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-item-current{
  background-color:#ffffff;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  min-width: 60px;
  height: 60px;
  text-align: center;
  padding: 12px 0;
}

.pagination-current{
  color: #333333;
}

.pagination-next{
  color: #333333;
}

.pagination-item-next{
  background-color:#ffffff
}
