@font-face {
  font-family:"pt sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/pt-sans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family:"pt sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/pt-sans-700.woff2) format("woff2");
  font-display: swap;
}

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  margin: 0;
  font-family: "pt sans",sans-serif;            /*базовый текстовый шрифт и цвет фона*/
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
  background-color:#ffffff;
  box-shadow: 0  15px 0  rgba(0, 0, 0, 0.20);
}

.content{
  flex-grow: 1;
}

.button {                             /*общие параметры для кнопки*/
  font-size: 20px;
  font-style: normal;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px 4px 4px 4px;
}

.header-button{
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 20px;
}

.navigation-actions{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.page-header{
  color: #000000;
}

.navigation{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 70px;
}

.navigation-list{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navigation-item{
  padding: 20px 16px;
}

.navigation-user{
  list-style-type: none;
}

.navigation-user-item{
  padding: 12px 22px;
}

.navigation-logo{
  margin-right: 30px;
}


.navigation-link{                    /*меню-навигация*/
  font-size: 20px;
  line-height: 24px;
  font-weight:700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.main-container{
  flex-grow: 1;
}

.hero-screen{
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 51px 70px 82px;
  margin: 0;
}

.hero-screen::after{
  content: url("../images/divider.svg");
  width: 100%;
}

.hero-image{
  display: block;
  margin: 0 auto;
}

.advantages-causes{
  padding: 70px;
  margin: 0;
}

.title-causes{                       /*заголовок преимуществ*/
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight:700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.causes{                             /*подзаголовок преимуществ*/
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color:#ffffff;
  margin: 25px 0 0;
}

.advantages-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item{                   /*преимущества фон*/
  text-align: center;
  background-color:#82b3d3;
}

.advantages-nested:nth-child(odd){
  background-color: #f0f6fa;
}

.advantages-nested:nth-child(even){
  background-color: #e6f0f6;
}

.advantages-item-page{
  display: flex;
}

.advantages-page{
  width: 400px;
  padding: 103px 85px;
}

.advantages-list-nested{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-nested{
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 103px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-title-nested{                    /*заголовок в карточках преимуществ*/
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 60px;
}

.advantages-title-item{
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 60px;
}

.advantages-description-nested{                    /*текст в карточках преимуществ*/
  color: #333333;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.advantages-description-item{
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.tagline-page{
  padding: 64px 70px;
}

.title-tagline{                   /*заголовок предложений*/
  line-height: 30px;
  font-weight:700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.tagline{
  font-size: 22px;                            /*подзаголовок предложений*/
  text-align: center;
  line-height: 26px;
  color: #333333;
  margin: 20px 0 0;
}

.offers-item:nth-child(odd){           /*фон предложений*/
  background-color: rgba(131,179,211,0.12);
}

.offers{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.offers-item{
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.offers-title{                         /*заголовок карточек предложений*/
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 30px 0;
}

.offers-description{                     /*текст предложений*/
  text-align: center;
  color: #333333;
  margin: 0;
}

.search{
text-align: center;
padding: 96px 70px;
}

.search-title{                  /*заголовок поиска гостинницы*/
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 20px;
}

.search-description{              /*укажите дату поездки*/
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin: 0 0 54px;
}

.button-all-search{
  background-color:#756157;
  padding: 8px 50px;
}

.subscription{
  padding: 96px 258px 104px;
  text-align: center;
}

.subscription-title{                         /*заголовок подписки общий*/
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
}

.subscription-description{                     /*только полезная информация... */
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.subscription-theme-custom{                          /*фон для подписки*/
  background-color: #82b3d3;
  color: #ffffff;
  background-image: url("../images/subscription-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 70px 104px;
}

.subscription-title-custom{
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.subscription-description-custom{          /*только полезная информация...*/
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 54px;
}

.page-footer{
  width: 1200px;
  display:flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 70px 30px;
  align-items:center;
}

.footer-contacts-logo{
  background-image: url("../images/html-academy.svg");
  width: 115px;
  height: 33px;
}

.social-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-network{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contacts{
  display: flex;
  width: 331px;
  align-items: center;
}

.contacts-phone{                        /*футер телефон*/
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;


}

.main-inner{                                /*страница каталога*/
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.catalog-products{                         /*фон для фильтра*/
  background-color: #82b3d3;
  background-image: url("../images/filter-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 70px 70px;
  margin: 0;
}

.catalog-title{
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0 0 8px;
}

.breadcrumbs{
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0 0 40px;
}

.breadcrumbs-link-start::before{
  content:url("../images/home.svg")
}

.catalog-filter-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter{
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group{
  border:0;
  margin: 0;
  padding: 0;
}

.catalog-filter-title{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 0 32px;
}

.catalog-filter-item{
  margin: 0 0 16px;
}

.button-filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-group{
  display: flex;
  justify-content: space-between;
  padding: 70px;
}

.catalog-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 70px;
  list-style-type: none;
}

.catalog-card-item{
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  width: 340px;
}

.pagination-item{
  background-color:#82b3d3;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  margin: 3px;
  text-align: center;
}

.pagination-title{
  display: flex;
  padding: 70px;
  list-style-type: none;
}

.pagination-link{
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-item-current{
  background-color:#ffffff;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  width: 60px;
  height: 60px;
  margin: 3px;
  text-align: center;
}

.pagination-current{
  color: #333333;
}
